html, body, .container, .row, .col-md-12{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.col-md-3{
    height: 30%;
}
#map{
    height: 100%;
    position: absolute;
}

.side-bar, .card, .card-block{
    z-index: 1;
}